.jobs-list-details-container {
  width: 600px;
  padding: 20px;
  margin: 50px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    transform: scale(1.02);
  }

  .jobs-list-header {
    margin-bottom: 20px;

    h1 {
      font-size: 25px;
      color: #35495e;
      text-transform: uppercase;
      border-bottom: 2px solid #35495e;
      padding-bottom: 10px;
    }
  }

  .jobs-list-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid #35495e;

    p {
      margin: 0;
      font-size: 16px;
      color: #333;
    }

    .work-type-row {
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        app-button {
          border: none;
          color: #fff;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
      }
    }
  }

  .more-details {
    margin-top: 20px;
    p {
      font-size: 14px;
      color: #35495e;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #35495e;
      }
    }

    .more-details {
      margin-top: 10px;
      padding-left: 15px;
      border-left: 2px solid #35495e;

      p {
        font-size: 15px;
        font-weight: bold;
        color: #555;
      }
    }
  }
}
