<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Avaible Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <p>Company:</p>
            <p>Expires:</p>
            <p>Position:</p>
            <p>Starting Salary:</p>
            <p>Work Type:</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Apply" (btnClick)="clickApplyButton()" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <p>More...</p>
            <div class="more-details">
                <p>Location:</p>
                <p>Contry:</p>
                <p>Qualifications:</p>
                <p>Description:</p>
            </div>
        </div>
    </div>
</div>
<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Avaible Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <p>Company:</p>
            <p>Expires:</p>
            <p>Position:</p>
            <p>Starting Salary:</p>
            <p>Work Type:</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Apply" (btnClick)="clickApplyButton()" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <p>More...</p>
            <div class="more-details">
                <p>Location:</p>
                <p>Contry:</p>
                <p>Qualifications:</p>
                <p>Description:</p>
            </div>
        </div>
    </div>
</div>
<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Avaible Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <p>Company:</p>
            <p>Expires:</p>
            <p>Position:</p>
            <p>Starting Salary:</p>
            <p>Work Type:</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Apply" (btnClick)="clickApplyButton()" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <p>More...</p>
            <div class="more-details">
                <p>Location:</p>
                <p>Contry:</p>
                <p>Qualifications:</p>
                <p>Description:</p>
            </div>
        </div>
    </div>
</div>
<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Avaible Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <p>Company:</p>
            <p>Expires:</p>
            <p>Position:</p>
            <p>Starting Salary:</p>
            <p>Work Type:</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Apply" (btnClick)="clickApplyButton()" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <p>More...</p>
            <div class="more-details">
                <p>Location:</p>
                <p>Contry:</p>
                <p>Qualifications:</p>
                <p>Description:</p>
            </div>
        </div>
    </div>
</div>
<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Avaible Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <p>Company:</p>
            <p>Expires:</p>
            <p>Position:</p>
            <p>Starting Salary:</p>
            <p>Work Type:</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Apply" (btnClick)="clickApplyButton()" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <p>More...</p>
            <div class="more-details">
                <p>Location:</p>
                <p>Contry:</p>
                <p>Qualifications:</p>
                <p>Description:</p>
            </div>
        </div>
    </div>
</div>