.contact-header {
  position: relative; /* Поставете го родителот на апсолутно позиционирање */
  width: 100%;
  height: 300px; /* Височина на елементот, може да се прилагоди */
  overflow: hidden; /* Скривање на делови од сликата кои излегуваат надвор */
}

.contact-header img {
  position: absolute; /* Апсолутно позиционирање за сликата */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обезбедува дека сликата ќе го покрие полето без да се деформира */
  z-index: -1; /* Поставување на сликата зад другите елементи */
}

.contact-info {
  position: absolute; /* Апсолутно позиционирање на податоците над сликата */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирање на податоците */
  color: white; /* Боја на текстот, можете да ја промените според потребите */
  text-align: center; /* Центрирање на текстот */
  z-index: 1; /* Поставување на податоците над сликата */
  padding: 20px; /* Падинг околу текстот, можете да го прилагодите */
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Прозирна позадина за подобра видливост на текстот */
  border-radius: 8px; /* Заоблени агли за подобар изглед */
}
