<div class="jobs-details-container">
    <div class="jobs-header">
        <h1>Apply Jobs</h1>
    </div>
    <div class="jobs-body">
        <div class="jobs-body">
            <h2>{{selectedJobs().company}}</h2>
            <p>{{selectedJobs().expires | date:'fullDate' }} </p>
            <p>{{selectedJobs().position}} </p>
            <p>{{selectedJobs().startingSalary | currency: 'EUR' : 'symbol' : '1.0'}} / {{selectedJobs().workType}}</p>
            <div class="work-type-row">
                <div class="button">
                    <app-button text="Cancel" (btnClick)="clickCancelButton(selectedJobs().id)" />
                </div>
            </div>
        </div>
        <div class="more-details" appToogleDetails>
            <h4>More...</h4>
            <div class="more-details">
                <p>{{selectedJobs().location}}</p>
                <p>{{selectedJobs().country}}</p>
                <p>{{selectedJobs().qualifications}}</p>
                <p>{{selectedJobs().description}}</p>
                <div class="company-button">
                    <div class="company-button">
                        <app-button text="Company view" (btnClick)="clickCompanyButton()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>