main {
  background: url("/images/background-04.jpg") 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .home-image {
    img {
      width: 100vh;
      height: auto;
    }
  }
}
