.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .home-image {
    img {
      width: 700px;
      height: 100%;
      border-radius: 8px;
    }
  }
}
