button {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #35495e;

  &:hover {
    background-color: #35495e;
    color: white;
  }
}
