<form [formGroup]="jobsForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label>Company *</label>
        <input type="text" class="form-input" formControlName="company" />
    </div>
    <div class="form-group">
        <label>Expires *</label>
        <input type="date" class="form-input" formControlName="expires" />
    </div>
    <div class="form-group">
        <label>Position *</label>
        <input type="text" class="form-input" formControlName="position" />
    </div>
    <div class="form-group">
        <label>Starting Salary *</label>
        <input type="text" class="form-input" formControlName="startingSalary" />
    </div>
    <p *ngIf="jobsForm.controls.startingSalary?.errors && jobsForm.controls.startingSalary.touched"
        class="control-error">
        Starting Salary should be more than 1000$
    </p>
    <div class="form-group">
        <label>Work Type *</label>
        <select id="expense-priority" class="form-input" formControlName="workType">
            <option value="low">Remote</option>
            <option value="medium">Onsite</option>
            <option value="high">Hybrid</option>
        </select>
    </div>
    <div class="form-group">
        <label>Location *</label>
        <input type="text" class="form-input" formControlName="location" />
    </div>
    <div class="form-group">
        <label>Country *</label>
        <input type="text" class="form-input" formControlName="country" />
    </div>
    <div class="form-group">
        <label>Qualifications *</label>
        <input type="text" class="form-input" formControlName="qualifications" />
    </div>
    <div class="form-group">
        <label>Description *</label>
        <textarea class="form-input" rows="5" formControlName="description"> </textarea>
    </div>
    <div *ngIf="jobsSubmitted() && jobsForm.invalid && jobsForm.touched" class="form-error">
        All fields are required
    </div>
    <div class="form-controls">
        <app-button [text]="editReviewData() ? 'EDIT' : 'ADD'" type="submit" />
    </div>
</form>