<div class="header">
    <h2>Available Jobs:</h2>
    <div class="jobs-item">
        <h3>1</h3>
        <p>Frontend Developer</p>
        <div class="buttonApply"> <app-button text="Apply" />
        </div>

    </div>
    <div class="jobs-item">
        <h3>2</h3>
        <p>Backend Developer</p>
        <div class="buttonApply"> <app-button text="Apply" />
        </div>
    </div>
    <div class="jobs-item">
        <h3>3</h3>
        <p>UI/UX Designer</p>
        <div class="buttonApply"> <app-button text="Apply" />
        </div>
    </div>
    <div class="jobs-item">
        <h3>4</h3>
        <p>Data Science</p>
        <div class="buttonApply"> <app-button text="Apply" />
        </div>
    </div>
    <div class="jobs-item">
        <h3>5</h3>
        <p>Marketing Specialist</p>
        <div class="buttonApply"> <app-button text="Apply" />
        </div>
    </div>
</div>