<div class="profile-page">
    <div class="profile-header">
        <img src="images/profile-image-01.jpg" alt="Profile Picture" class="profile-image" />
        <div class="user-info">
            <h1 class="user-name">Ana Jovanovska</h1>
            <p class="user-title">Full Stack developer</p>
        </div>
    </div>

    <div class="profile-sections">
        <section class="personal-info">
            <h2>Personal Information</h2>
            <p><strong>Email:</strong> anajovanovska756&#64;gmail.com</p>
            <p><strong>Phone:</strong> +389 77 686 863</p>
            <p><strong>Location:</strong> Macedonia , Veles</p>
        </section>

        <section class="work-experience">
            <div class="experience-item">
                <h3>Junior Developer</h3>
                <p><strong>Duration:</strong> Oct 2023 - Oct 2024</p>
                <p><strong>Responsibilities:</strong> Working on full-stack development, bug fixing, and feature
                    implementation.</p>
            </div>
        </section>
        <section class="current-status">
            <h2>Current Status</h2>
            <p>Currently seeking new opportunities in full-stack development.</p>
        </section>
    </div>
</div>